doctype html 
html  
  head 
    title tattoo kingdom 
    link(rel="icon", href="/static/tk.png")
    block scripts
    block style 
  body 
    block content 
    footer#footer 
      |  Copyrights 2019 under the name Tattoo Kingdom(TK.com) 